
@{
    ViewBag.Title = "pictureSuccess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid ContainerCss">
    <img src="~/Content/Images/AppPics/Success.jpg" class="img-fluid img-thumbnail d-flex" alt="success" title="succès" />
    <p class="messageToDisplay justify-content-center align-items-center">
        <i class="fas fa-check"></i>&emsp;Image ajoutée avec succès !
    </p>
</div>