/* Set special family font Brie Light for the html page */
@font-face {
    font-family: Brie_Light;
    font-style: normal;
    font-weight: normal;
    src: url('../Content/Fonts/BRI293.woff');
}
/* Set the html page */
html {
    height: 100vh;
}

/* Set the body */
body {
    font-family: Brie_Light;
    height: 100vh;
    background-color: aquamarine;
}

/* Set the header */
header {
    height: 10vh;
}

/* Set the navigation bar */
nav {
    height: 10vh;
    background-color: black !important;
}

/* Set the main content */
main {
    height: auto;
}

/* Set the footer */
footer {
    height: 10vh;
    color: white;
}

/* Set the logo brand image */
.logobrand {
   height : 10vh;
}


/* Make title picture appears on hover */
.card-img-overlay:hover .card-title {
    display: block !important;
    color: white;
}

.card-title {
    color: transparent;
}

/* Make eye icon appears on hover */
.card-img-overlay:hover .details {
    display: block !important;
}

/* Make ratings icon appears on hover */
.card-img-overlay:hover .ratings {
    display: block !important;
}

/*Set icons color white */
i {
    color: white;
}

/* Set eye icon */
.details {
    position: absolute;
    display: none;
    right: 0;
    bottom: 0;
    border: none;
}

/* Set ratings icons */
.ratings {
    position: absolute;
    display: none;
    left: 0;
    bottom: 0;
    border: none;
}

/* Remove focus on eye button icon */
.details, .ratings, .removeFocus:focus {
    box-shadow: none !important;
}

/* Set modal content (picture) */
.modal-body {
    margin: auto;
    display: block;
    width: 90%;
}

/* Set the upload picture button */
#newPictureToUpload {
    color: blue;
    display:none;
}

/* Set the popover header */
.popover-header {
    background-color: black !important;
    color: white;
    text-align:center;
    border:1px solid white;
}

/* Set the popover body */
.popover-body {
    background-color: black;
    color: white;
    border: 1px solid white;
}

/* Set ul li elements of exifs list */
ul li {
    list-style-type: none;
    /*display:inline;*/
}
