/* Set special family font Brie Light for the html page */
@font-face {
    font-family: Brie_Light;
    font-style: normal;
    font-weight: normal;
    src: url('../Content/Fonts/BRI293.woff');
}
/* Set nav bar in accordance with responsive features */

/* Display mini nav */
@media screen and (max-width: 700px) {
    
    #normalNavBar {
        display: none;
    }

    #responsiveNavBar {
        display: block;
    }
}

/* Display normal nav */
@media screen and (min-width: 701px) {
    
    #normalNavBar {
        display: block;
    }
    #responsiveNavBar {
        display: none;
    }
}

/* Set the html page */
html {
    height: 100vh;
}

/* Set the body */
body {
    font-family: Brie_Light;
    height: 100vh;
    background-image: url('../Content/Images/AppPics/NightPort.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/* Set the header */
header {
    height: 10vh;
    background-image: url('../Content/Images/AppPics/Shadows.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* Set the navigation bar */
nav {
    height: 10vh;
    background-color: black !important;
}

/* Set the main content */
main {
    height: auto;
    /*background-color: black !important;*/
}

/* Set the footer */
footer {
    height: 10vh;
    color: white;
    background-color: black !important;
}

/* Set the logo brand image */
.logobrand {
   height : 10vh;
}

/* Make title picture appears on hover */
.card-img-overlay:hover .card-title {
    display: block !important;
    color: white;
}

/* Card title transparent */
.card-title {
    color: transparent;
}

/* Make eye icon appears on hover */
.card-img-overlay:hover .details {
    display: block !important;
}

/* Make ratings icon appears on hover */
.card-img-overlay:hover .ratings {
    display: block !important;
}

/* Make image border color change on hover */
.card:hover .img-thumbnail {
    border: 1px solid silver !important;
    background: silver;
}

/* Make card border color change on hover */
.card:hover {
    background: silver;
}

/*Set icons color white */
i {
    color: white;
}

/* Set eye icon */
.details {
    position: absolute;
    display: none;
    right: 0;
    bottom: 0;
    border: none;
}

/* Set ratings icons */
.ratings {
    position: absolute;
    display: none;
    left: 0;
    bottom: 0;
    border: none;
}

/* Remove focus on eye button icon */
.details, .ratings, .removeFocus:focus {
    box-shadow: none !important;
}

/* Set modal content (picture) */
.modal-body {
    margin: auto;
    display: block;
    width: 90%;
}

/* Set modal header */
.modal-header {
    border-bottom:none;
}

/* Set modal footer */
.modal-footer {
    border-top: none;
}

/* Set the upload picture button */
#newPictureToUpload {
    color: blue;
    display:none;
}

/* Set modal background */
#showPictureDetails {
    background-image: url('../Content/Images/AppPics/Town.jpg');
}

/* Set the popover header */
.popover-header {
    background-color: black !important;
    color: white;
    text-align: center;
    border: 1px solid white;
}

/* Set the popover body */
.popover-body {
    background-color: black;
    color: white;
    border: 1px solid white;
}

/* Set ul li elements of exifs list */
ul li {
    list-style-type: none;
}

/* Set the rounded pagination buttons */
.rounded {
    background-color: black !important;
}

/* Set the pagination buttons effects */
.rounded:hover {
    background-color: white !important;
    color: black !important;
}

/* Set 'back to top' button */
#topButton {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 5;
    cursor: pointer;
    padding: 15px;
}

/* Set 'back to top' button icon effect */
#topButton:hover i {
    color: silver;
}

/* Set hover effect for button menu */
.hovering:hover {
    background-color: white !important;
    color: black !important;
}

/* Set hover effect for button menu icon */
.hovering:hover i {
    color: black !important;
}

/* Set recurrent buttons */
.recButton, .delModal {
    background-color: black !important;
}

/* Set input form */
.currentInput {
    background-color: black !important;
    color: white;
}

/* Set hover effect for modal close, delete buttons */
.closing:hover i, .delete:hover i, .closing:hover text {
    color: red !important;
}

/* Set hover effect for modal prev, next, edit buttons */
.greenify:hover i, .greenify:hover text, .exifsGreen:hover i, .exifsGreen:hover text {
    color: chartreuse !important;
}

/* Set hover effect for modal exif button */
.exifsBlue:hover i, .deepBlue:hover, .exifsBlue:hover text {
    color: deepskyblue !important;
}

/* Set small picture in exifs popover */
.smallPic {
    width: 70px;
    height: 70px;
    border: 2px solid white;
    padding: 2px;
    margin-bottom : 5px;
}

/* Set small picture in delete modal */
.smallDelPic {
    width: 100px;
    height: 100px;
    border: 2px solid white;
    padding: 2px;
}

/* Set picture description */
#pictureDescription {
    font-size:17px;
    font-weight:bold;
}

/* Set all exifs colors data */

/* Brand */
.exifBrand, .exifBrand > i {
    color: ivory;
}
/* Model */
.exifModel, .exifModel > i {
    color: wheat;
}
/* Date */
.exifDate, .exifDate > i {
    color: sandybrown;
}
/* Open */
.exifOpen, .exifOpen > i {
    color: turquoise;
}
/* Expos */
.exifExpos, .exifExpos > i {
    color: lightseagreen;
}
/* Isos */
.exifIsos, .exifIsos > i {
    color: orchid;
}
/* Focal */
.exifFocal, .exifFocal > i {
    color: fuchsia;
}
/* Flash */
.exifFlash, .exifFlash > i {
    color: mediumseagreen;
}
/* Dims */
.exifDims, .exifDims > i {
    color: chartreuse;
}
/* Size */
.exifSize, .exifSize > i {
    color: deepskyblue;
}

/* ********************* */

