/* Set special family font Brie Light for the html page */
@font-face {
    font-family: Brie_Light;
    font-style: normal;
    font-weight: normal;
    src: url('../Content/Fonts/BRI293.woff');
}
/* Set nav bar in accordance with responsive features */

/* Display mini nav */
@media screen and (max-width: 700px) {
    
    #normalNavBar {
        display: none;
    }

    #responsiveNavBar {
        display: block;
    }
}

/* Display normal nav */
@media screen and (min-width: 701px) {
    
    #normalNavBar {
        display: block;
    }
    #responsiveNavBar {
        display: none;
    }
}

/* Set the html page */
html {
    height: 100vh;
}

/* Set the body */
body {
    font-family: Brie_Light;
    height: 100vh;
    
    /*Set diaporama animation */
    -webkit-animation: backgroundDiapo 10s infinite ease-in-out;
    animation-direction: alternate;
  
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/* FOR SAFARI & CHROME - Set background image diaporama */
@-webkit-keyframes backgroundDiapo {
    0% {
        background-image: url('../Content/Images/AppPics/NightPort.jpg');
    }
     100% {
        background-image: url('../Content/Images/AppPics/SeaBoat.jpg');
    }
}

/* Set the header */
header {
    height: 10vh;
    background-image: url('../Content/Images/AppPics/Recco.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* Set the navigation bar */
nav {
    height: 10vh;
    background-color: black !important;
}

/* Set the main content */
main {
    height: auto;
}

/* Set the footer */
footer {
    height: 10vh;
    color: white;
    background-color: black !important;
}

/* Set the logo brand image */
.logobrand {
   height : 10vh;
}

/* Make title picture appears on hover */
.card-img-overlay:hover .card-title {
    display: block !important;
    color: white;
}

/* Card title transparent */
.card-title {
    color: transparent;
}

/* Make eye icon appears on hover */
.card-img-overlay:hover .details {
    display: block !important;
}

/* Make ratings icon appears on hover */
.card-img-overlay:hover .ratings {
    display: block !important;
}

/* Make image border color change on hover & add a zoom effect for the picture */
.card:hover .img-thumbnail {
    /*border: 1px solid wheat !important;*/
    background: wheat;
    
    transform: scale(1.1);
    transition: transform 1s ease-in-out;
}

/* Make card border color change on hover */
.card:hover {
    background: wheat;
    overflow: hidden;
}

/* Make image border color change on hover */
.card:hover .btn > i, .card:hover .card-title {
    color: wheat;
}

/* Set selected picture with black & white appearence on hover */
    .card:hover img {
        filter: grayscale(100%);

    }



/*Set icons color white */
i {
    color: white;
}

/* Set eye icon */
.details {
    position: absolute;
    display: none;
    right: 0;
    bottom: 0;
    border: none;
}

/* Set ratings icons */
.ratings {
    position: absolute;
    display: none;
    left: 0;
    bottom: 0;
    border: none;
    color: wheat !important;
}

/* Remove focus on eye button icon */
.details, .ratings, .removeFocus:focus {
    box-shadow: none !important;
}

/* Set modal content (picture) */
.modal-body {
    margin: auto;
    display: block;
    width: 90%;
}

/* Set modal header */
.modal-header {
    border-bottom:none;
}

/* Set modal footer */
.modal-footer {
    border-top: none;
}

/* Set the upload picture button */
#newPictureToUpload {
    color: blue;
    display:none;
}

/* Set modal background */
#showPictureDetails {
    background-image: url('../Content/Images/AppPics/Town.jpg');
}

/* Set the popover header */
.popover-header {
    background-color: black !important;
    color: white;
    text-align: center;
    border: 1px solid white;
}

/* Set the popover body */
.popover-body {
    background-color: black;
    color: white;
    border: 1px solid white;
}

/* Set ul li elements of exifs list */
ul li {
    list-style-type: none;
}

/* Set the rounded pagination buttons */
.rounded {
    background-color: black !important;
}

/* Set the pagination buttons effects */
.rounded:hover {
    background-color: white !important;
    color: black !important;
}

/* Set 'back to top' button */
#topButton {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 5;
    cursor: pointer;
    padding: 15px;
    font-size:150%;
}

/* Set 'back to top' button icon effect */
#topButton:hover i {
    color: deepskyblue;
    background-color:transparent;
}

/* Set hover effect for button menu */
.hovering:hover {
    background-color: rgba(245, 222, 170, .3) !important;
    border-color: wheat !important;
    color: wheat !important;
}

/* Set hover effect for button menu icon */
.hovering:hover i {
    color: wheat !important;
}

/* Set hover effect for add button menu */
.adding:hover, #addPic:hover {
    background-color: rgba(102, 205, 170, .3) !important;
    border-color: chartreuse !important;
}

/* Set hover effect for add button menu */
.adding:hover i, .adding:hover text {
    color: chartreuse !important;
}

/* Set hover effect for del button menu */
.removing:hover {
    background-color: rgba(0, 206, 209, .3) !important;
    border-color: darkturquoise !important;
}

/* Set hover effect for del button menu */
.removing:hover i {
    color: darkturquoise !important;
}

/* Set recurrent buttons */
.recButton, .delModal, #addPic {
    background-color: black !important;
}

/* Set input form */
.currentInput {
    color: white;
    background-color: black !important;
}

/* Set input valid form */
.validInput {
    color: chartreuse !important;
    border-color:chartreuse !important;
    background-color: rgba(102, 205, 170, .3) !important;
}

/* Set input invalid form */
.invalidInput {
    color: red !important;
    background-color: black !important;
    border-color: red !important;
}

/* Set hidden form error messages */
.hiddenErrorMessage {
    visibility:hidden;
    color: ivory !important;
    font-size: 75%;
    border-color: red !important;
    background-color: rgba(139, 0, 0, .6) !important;
}

/* Set visible form error messages */
.visibleErrorMessage {
    visibility: visible;
    color: ivory !important;
    font-size: 75%;
    border-color: red !important;
    background-color: rgba(139, 0, 0, .6) !important;
}

/* Set form buttons */
.formButton {
    height: 40px;
}

/* Set hover effect for modal close, delete buttons */
.closing:hover i, .delete:hover i, .closing:hover text {
    color: red !important;
}

/* Set hover effect for modal prev, next, edit buttons */
.greenify:hover i, .greenify:hover text, .exifsGreen:hover i, .exifsGreen:hover text {
    color: chartreuse !important;
}

/* Set hover effect 1 for modal exif button */
.exifsBlue:hover i, .exifsBlue:hover text {
    color: deepskyblue !important;
}

/* Set hover effect 2 for modal exif button */
.exifsBlue:hover {
    border:1px solid white;
    background-color: rgba(127, 255, 212, .3);
}

/* Set small picture in exifs popover */
.smallPic {
    width: 70px;
    height: 70px;
    border: 2px solid white;
    padding: 2px;
    margin-bottom : 5px;
}

/* Set small picture in delete modal */
.smallDelPic {
    width: 100px;
    height: 100px;
    border: 2px solid white;
    padding: 2px;
}
/* Fix scroll to be blocked when close the delete modal */
.modal {
    overflow-y: auto;
}

/* Set picture description */
p[id="pictureDescription"] {
    font-size:17px;
    font-weight:bold;
}

/* Set all exifs colors data */

/* Brand */
.exifBrand, .exifBrand > i {
    color: ivory;
}
/* Model */
.exifModel, .exifModel > i {
    color: wheat;
}
/* Date */
.exifDate, .exifDate > i {
    color: sandybrown;
}
/* Open */
.exifOpen, .exifOpen > i {
    color: turquoise;
}
/* Expos */
.exifExpos, .exifExpos > i {
    color: lightseagreen;
}
/* Isos */
.exifIsos, .exifIsos > i {
    color: orchid;
}
/* Focal */
.exifFocal, .exifFocal > i {
    color: fuchsia;
}
/* Flash */
.exifFlash, .exifFlash > i {
    color: mediumseagreen;
}
/* Dims */
.exifDims, .exifDims > i {
    color: chartreuse;
}
/* Size */
.exifSize, .exifSize > i {
    color: deepskyblue;
}

/* ********************* */

/* Set special border line */
.specialPictureBorderLine {
    
    /* Draw the image with */
    background-image: linear-gradient(crimson, coral),
                      linear-gradient(coral, darkorchid),
                      linear-gradient(darkorchid, deepskyblue),
                      linear-gradient(mediumpurple, darkorchid),
                      linear-gradient(transparent,transparent);
    
    background-repeat: no-repeat;

    /* Width Height */
    background-size: 5px 50%,
                     50% 5px,
                     5px 50%,
                     50% 5px,
                     calc(100% - 10px) calc(100% - 10px);
    
    /* Position */
    background-position: left bottom,
                         left bottom,
                         right top,
                         right top, 5px 5px;
    
    /* Image Width Height */
    height: auto;
    width: 100%;

    border-top :1px solid mediumpurple;
    border-bottom:1px solid darkorchid;
    border-left:1px solid crimson;
    border-right:1px solid deepskyblue;
    border-radius: 0.50rem;

     background-color: rgba(119,136, 153, .3);
}

/* Set special border line */
.specialFormBorderLine {
    border: 3px solid white;
    border-radius: 0.50rem;
    background-color: rgba(119,136, 153, .3);
}
