@model Modells.Models.Picture
@{
    ViewBag.Title = "Test";
}
<div class="cadre">
        <div class="picture" style="background-image: url('@Model.pictureStandardSizeUrl');">this is the image !</div>
        <div class="tagExifs"><button type="button" class="btn btn-primary">carre1</button></div>
        <div class="tagZoom">carre2</div>
        <div class="tagGet">carre3</div>
        <div class="tagStats">carre4</div>
</div>

