@model Modells.Models.Picture
@{
    ViewBag.Title = "Test";
}
@Html.ActionLink("Return Home", "Index")

<div><button type="button" class="btn"><i class="fas fa-info"></i> Infos Exifs</button></div>
<button type="button" class="btn"><i class="fas fa-eye"></i></button>
<button type="button" class="btn"><i class="fas fa-download"></i></button>

<div class="btn-group" role="group">
    <button type="button" class="btn btn-dark"> <i class="far fa-heart"></i></button>
    <button type="button" class="btn btn-dark"><i class="far fa-star"></i></button>
    <button type="button" class="btn btn-dark"><i class="far fa-comment"></i></button>
</div>
