
@{
    ViewBag.Title = "Test";
}
<h2>Welcome i am the page n°@ViewBag.Page</h2>

    @for (int page = 1; page <= ViewBag.totalPages; page++)
    {

            @Html.ActionLink("Page n° " + page, "Test", new { pageToDisplay = page })
    }

@*<div><button type="button" class="btn"><i class="fas fa-info"></i> Infos Exifs</button></div>
    <button type="button" class="btn"><i class="fas fa-eye"></i></button>
    <button type="button" class="btn"><i class="fas fa-download"></i></button>

    <div class="btn-group" role="group">
        <button type="button" class="btn btn-dark"> <i class="far fa-heart"></i></button>
        <button type="button" class="btn btn-dark"><i class="far fa-star"></i></button>
        <button type="button" class="btn btn-dark"><i class="far fa-comment"></i></button>
    </div>*@
