@model IEnumerable<Modells.Models.picture>

@{
    ViewBag.Title = "pictureDetails";
}

<script>

//

</script>

<!-- Modal to display picture details -->
<div class="modal fade bg-transparent testpic" id="showPictureDetails" tabindex="-1" role="dialog" aria-labelledby="pictureModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">

        @*Modal content :*@
        <div class="modal-content bg-transparent">

            @*Modal header :*@
            <div class="modal-header bg-transparent justify-content-between d-flex">

                @*Modal title :*@
                <div class="modal-title text-light ml-0 d-inline-flex" id="pictureModalLabel">

                    @*Picture title :*@
                    <div class="text-light p-1" id="pictureTitle">
                        Picture title
                    </div>

                    @*Picture category :*@
                    <div class="text-light p-1" id="pictureCategory">
                        Picture category
                    </div>

                    @*Picture id :*@
                    <div class="text-light p-1" id="pictureId" hidden>
                        Picture id
                    </div>
                </div>

                @*Close button*@
                <button type="button" class="btn text-light mr-0 removeFocus" data-dismiss="modal">
                    <i class="fas fa-times-circle"></i>
                </button>
            </div>

            @*Modal body : *@
        <div class="modal-body bg-transparent d-inline-flex justify-content-center">
           
                @*Previous picture button :*@
                <button type="button" class="btn text-light removeFocus prev">
                    <i class="fas fa-arrow-circle-left"></i>
                </button>
                
                @*Display Picture & Exifs*@
        <div class="container border border-danger picExifs">

            @*Display picture :*@
            <img src="" alt="" title="" class="img-fluid img-thumbnail d-block mx-auto modalPic displayPicture" />

            @*Display picture exifs :*@
            <div class="border border-primary exifsData" id="exifsInfos">
                <ul>
                    @*Display camera make :*@
                    <li><i class="fas fa-industry"> &emsp; </i><span id="pictureCameraMake"> marque appareil </span></li>

                    @*Display camera model :*@
                    <li><i class="fas fa-camera"> &emsp; </i><span id="pictureCameraModel"> appareil photo </span></li>

                    @*Display picture date time :*@
                    <li><i class="far fa-calendar-alt"> &emsp; </i><span id="pictureOriginalDateTime"> date & heure prise de vue </span></li>

                    @*Display picture exposure time :*@
                    <li><i class="fab fa-chrome"> &emsp; </i><span id="pictureApertureValue"> ouverture </span></li>

                    @*Display picture exposure time :*@
                    <li><i class="far fa-clock"> &emsp; </i><span id="pictureExposureTime"> vitesse d'oburation </span></li>

                    @*Display picture speed ratings :*@
                    <li><i class="far fa-sun"> &emsp; </i><span id="pictureIsoSpeedRatings"> sensibilité iso </span></li>

                    @*Display picture focal length :*@
                    <li><i class="fab fa-periscope"> &emsp; </i><span id="pictureFocalLength"> longueur focale </span></li>

                    @*Display picture flash :*@
                    <li><i class="fas fa-bolt"> &emsp; </i><span id="pictureFlash"> flash utilisé oui / non </span></li>

                    @*Display picture width x height :*@
                    <li><i class="far fa-image"> &emsp; </i><span id="pictureDimensions"> largeur x hauteur </span></li>

                    @*Display picture file size :*@
                    <li><i class="fas fa-weight-hanging"></i> &emsp; <span id="pictureFileSize"> taille </span></li>

                </ul>
            </div>
        </div>

                @*Next picture button :*@
                <button type="button" class="btn text-light removeFocus next">
                    <i class="fas fa-arrow-circle-right"></i>
                </button>
        </div>
            @*Picture description :*@
            <p class="text-light text-center" id="pictureDescription">Picture description</p>

            @*Modal footer :*@
            <div class="modal-footer justify-content-between">

                @*Justify-content-between enables to set button position :*@
                <button type="button" class="btn text-light ml-0 removeFocus">

                    @*Picture rating value :*@
                    <i class="far fa-heart"></i> 5

                    @*Picture views number :*@
                    <i class="fas fa-bullseye"></i> 10
                </button>

                @*Button infos :*@
                <button type="button" class="btn text-light m-auto removeFocus getExifs" data-toggle="collapse" data-target="#exifsInfos">
                    <i class="fas fa-info-circle"></i>
                </button>

                @*Button edit :*@
                <button type="button" class="btn text-light mr-0 removeFocus editPicture">
                    <i class="fas fa-edit"></i>
                </button>

                @*Button download :*@
                <button type="button" class="btn text-light mr-0 removeFocus">
                    <i class="fas fa-download"></i>
                </button>
            </div>
        </div>
    </div>
</div>